body{
    /* width: 100%; */
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(255, 203, 203);
    font-family: sans-serif;
    background-color: rgb(58, 58, 58);
}
@keyframes fadeIn{
    form{
        opacity: 0;
    } to {
        opacity: 1;
    }
}
.bgImage{
    width: 100%;
    height: inherit;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    animation: fadeIn .5s linear;
}
.outerbox{
    text-align: center;
}
.clock span{
    font-size: 100px;
}
.username{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}
.todo-list{
    display: flex;
    justify-content: center;
}
.todo-list > div{
    background-color: rgb(255, 203, 203);
    color: rgb(255, 255, 255);
    text-align: left;
}
.todo-input{
    text-align: right;
}
.todo-input input{
    border-style: none;
    background-color: rgb(255, 203, 203);
    color: rgb(255, 255, 255);
    text-align: right;
}

.pending{
    width: 45%;
    margin-right: 5px;
    padding: 10px;
}
.finished{
    width: 45%;
    margin-left: 5px;
    padding: 10px;
}